@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

:root {
  --text-color-white: #fff;
  --green-strength: #374e0b;
  --green-light: #5a7813;
  --blue-strength: #4d6a92;
  --blue-light: #348db8;
  --yellow-strength: #f1c388;
}

body {
  overflow-x: hidden;
}

/* INÃCIO HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--green-strength);
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 100%;
}

.logo-folha-rainha {
  margin-top: 25px;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-symbols-outlined {
  margin: 0.2rem;
  color: var(--yellow-strength);
}

.search-container > .search-input {
  min-width: 300px;
  max-width: 500px;
  font-size: 1rem;
  height: 30px;
  padding: 0.5rem;
  border-radius: 15px;
  border: 2px solid var(--yellow-strength);
}

.header-sections {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  color: var(--text-color-white);
  cursor: pointer;
  position: relative;
}

.container-account-options {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;

  width: 200px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid var(--yellow-strength);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.container-account-options > ul {
  list-style: none;
}

.container-account-options > ul > li {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

.container-account-options > ul > li > a {
  text-decoration: none;
  color: black;
}

.container-account-options > ul > li > a:hover {
  text-decoration: underline;
}

.container-service-options {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;

  width: 260px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid var(--yellow-strength);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.container-service-options > ul {
  list-style: none;
}

.container-service-options > ul > li {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

.container-service-options > ul > li > a {
  margin-left: 0.7rem;
  text-decoration: none;
  color: black;
}

.services-icons {
  margin: 0.2rem;
  color: var(--yellow-strength);
  width: 24px;
  height: 24px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green-light);
  border: 1px solid var(--yellow-strength);
  width: 100%;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

nav > ul > li.categorias {
  margin: 1rem 1.5rem;
}

nav > ul > li.categorias > a {
  text-decoration: none;
  color: var(--text-color-white);
  /* text-shadow: 1px 1px 1px var(--yellow-strength); */
  font-size: 1.2rem;
}
