@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: "ContrailOne";
  src: url("../assets/fonts/ContrailOne-Regular_texto.ttf") format("truetype");
}

@font-face {
  font-family: "Gagalin-Regular";
  src: url("../assets/fonts/Gagalin-Regular_destaque.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../assets/fonts/Montserrat-Regular_titulo.ttf") format("truetype");
}

@font-face {
  font-family: "Sacramento-Regular";
  src: url("../assets/fonts/Sacramento-Regular_produtos.ttf") format("truetype");
}

:root {
  --text-color-white: #fff;
  --green-strength: #374e0b;
  --green-light: #5a7813;
  --blue-strength: #4d6a92;
  --blue-light: #348db8;
  --yellow-strength: #f1c388;

  --font-titulo: "ContrailOne";
  --font-destaque-text: "Gagalin-Regular";
  --font-texto-normal: "Montserrat-Regular";
  --font-produtos-name: "Sacramento-Regular";
}

/* Pai de todos */
.container-my-account {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Pai dos títulos principais*/
.container-my-account-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
  margin: 2rem;
  color: var(--green-strength);
  border-radius: 10px;
  background-color: white;
}

.container-my-account-header > h1 {
  text-shadow: 1px 1px 1px var(--green-light);
  margin-bottom: 1rem;
  padding-bottom: 6px;
  color: var(--green-light);
  border-bottom: 0.1rem solid var(--green-light);
  font-size: 2rem;
}

.container-my-account-header > .material-symbols-outlined {
  color: var(--green-strength);
}

.container-my-account-header > h2 {
  font-size: 1rem;
  margin: 0.2rem;
  font-family: var(--font-texto-normal);
}

/* Pai dos dois containers de dados */
.datas-containers-my-account {
  display: grid;
  justify-content: center;
  grid-template-columns: 400px 400px;
  grid: auto;
  grid-gap: 1rem;
  padding: 1rem;
  width: 75vw;
}

/* Pai de cada container dos dados */
.containers-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 1.3rem;
  border-radius: 10px;
  border: 2px solid var(--blue-strength);
  transition: 0.3s ease;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-container > .title-container {
  font-size: 1.4rem;
  text-shadow: 1px 1px 1px white;
  font-family: var(--font-titulo);
}

.hr-my-account {
  margin-top: 0.3rem;
  margin-bottom: 1.5rem;
  border: 1px solid var(--green-strength);
}

.container-data > .datas {
  padding-bottom: 1rem;
  font-size: 0.9rem;
  font-family: var(--font-texto-normal);
}

.buttons-actions {
  display: flex;
  justify-content: space-around;
}

.buttons-actions > button {
  padding: 0.7rem;
  border-radius: 10px;
  border: 1px solid var(--blue-strength);
  background-color: var(--green-light);
  color: white;
  cursor: pointer;
  transition: 0.3 ease;
  font-family: var(--font-texto-normal);
}

.buttons-actions > button:hover {
  border: 1px solid var(--green-light);
  background-color: var(--green-strength);
  color: var(--text-color-white);
  transition: 0.3s ease;
}

.buttons-actions > .button-alterar-senha {
  border: 1px solid var(--blue-strength);
  background-color: var(--green-light);
}

.inputs-edit-profile {
  border-radius: 0.3rem;
  border: 1px solid var(--green-strength);
  margin-left: 0.4rem;
  padding: 0.4rem;
  text-shadow: 1px 1px 1px solid #000;
  transition: 0.3s ease;
}

.inputs-edit-profile:hover {
  border: 1px solid var(--green-strength);
  background-color: #dfecc2;
  transition: 0.3s ease;
}

.containers-data:hover {
  background-color: #faffeb;
  transition: 0.3s ease;
}

