@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

:root {
  --text-color-white: #fff;
  --green-strength: #374e0b;
  --green-light: #5a7813;
  --blue-strength: #4d6a92;
  --blue-light: #348db8;
  --yellow-strength: #f1c388;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-auth {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cabeçalho-identificacao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  color: var(--green-strength);
  background-color: white;
  border-radius: 10px;
}

.cabeçalho-identificacao > .material-symbols-outlined {
  color: var(--green-strength);
}

.cabeçalho-identificacao > h1 {
  margin: 1.5rem;
  color: var(--green-light);
  text-shadow: 1px 1px 1px var(--green-light);
  border-bottom: 0.1rem solid var(--green-light);
  padding-bottom: 6px;
}

.cabeçalho-identificacao > h2 {
  font-size: 1rem;
  margin: 0.2rem;
}

.containers-auth {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  border: 2px solid var(--blue-strength);
  color: var(--green-strength);
  background-color: white;
  transition: 0.3s ease;
}

.containers-auth:hover {
  background-color: #f6ffe3;
  transition: 0.3s ease;
}

/* CABEÇALHO dos containers AUTH */

.containers-auth > .cabecalho-containers-auth {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.containers-auth > hr {
  width: 100%;
  margin-bottom: 2rem;
  border: 1px solid var(--green-strength);
}

.containers-auth > .cabecalho-containers-auth > p {
  margin-left: 0.5rem;
}

/* CONTENT dos containers AUTH*/

.containers-auth > .content-containers-auth,
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* labels */
.containers-auth > .content-containers-auth > form > label,
.containers-auth > .content-containers-auth > label {
  margin-bottom: 0.3rem;
  text-shadow: 1px solid var(--blue-strength);
}

/* inputs */
.containers-auth > .content-containers-auth > form > input,
.containers-auth > .content-containers-auth > input {
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  border: 1px solid var(--green-strength);
  padding: 0.2rem;
  text-shadow: 1px 1px 1px solid #000;
  transition: 0.3s ease;
}

.containers-auth > .content-containers-auth > form > input:hover,
.containers-auth > .content-containers-auth > input:hover {
  background-color: #dfecc2;
  transition: 0.3s ease;
}

.containers-auth > .content-containers-auth > form > input:focus,
.containers-auth > .content-containers-auth > input:focus {
  border: 1px solid var(--blue-strength);
  outline: 1px solid var(--blue-strength);
}

/* buttons */
.containers-auth > .content-containers-auth > .btn-auth {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--blue-strength);
  background-color: var(--green-light);

  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.containers-auth > .content-containers-auth > button > a {
  text-decoration: none;
  color: white;
}

.containers-auth > .content-containers-auth > .button-forget-password {
  margin-bottom: 1.2rem;
  padding: 0.3rem;

  display: flex;
  align-items: center;
  transition: 0.3 ease;
}

.containers-auth
  > .content-containers-auth
  > .button-forget-password
  > .material-symbols-outlined {
  font-size: 1.2rem;
}

/* hovers */

.containers-auth > .content-containers-auth > .btn-auth:hover {
  border: 1px solid var(--green-light);
  background-color: var(--green-strength);
  color: var(--text-color-white);
  transition: 0.3s ease;
}

.containers-auth > .content-containers-auth > button > a:hover {
  color: white;
}
