@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
}

:root {
  --text-color-white: #fff;
  --green-strength: #374e0b;
  --green-light: #5a7813;
  --blue-strength: #4d6a92;
  --blue-light: #348db8;
  --yellow-strength: #f1c388;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-signup-cabeçalho {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  color: var(--green-strength);
  background-color: white;
}

.container-signup-cabeçalho > .material-symbols-outlined {
  color: var(--green-strength);
}

.container-signup-cabeçalho > h1 {
  margin: 1.5rem;
  color: var(--green-light);
  text-shadow: 1px 1px 1px var(--green-light);
  border-bottom: 0.1rem solid var(--green-light);
  padding-bottom: 6px;
}

.container-signup-cabeçalho > h2 {
  font-size: 1rem;
  margin: 0.2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.hr-signup {
  border: 1px solid var(--green-strength);
}

.sections {
  padding: 2.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 2px solid var(--blue-strength);
  color: var(--green-strength);
  background-color: white;
  transition: 0.3s ease;
}

/* Containers de labels/inputs do container "Dados para Acesso"*/
.sections > .senha > .container-senha,
.sections > .email > .container-email {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sections > .senha,
.sections > .email {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sections > .email > .container-email > label,
.sections > .email > .container-email > input,
.sections > .senha > .container-senha > label,
.sections > .senha > .container-senha > input {
  margin-bottom: 0;
  margin: 0.5rem;
}

.sections > .email > input,
.sections > .senha > input {
  margin-right: 2rem;
}

.sections > .email > input:focus,
.sections > .senha > input:focus {
  border: 1px solid var(--blue-strength);
  outline: 1px solid var(--blue-strength);
}
/* Todos Inputs */
.inputs-style {
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid var(--green-strength);
  padding: 0.3rem;
  text-shadow: 1px 1px 1px solid #000;
  transition: 0.3s ease;
}

.inputs-style:focus {
  border: 1px solid var(--blue-strength);
  outline: 1px solid var(--blue-strength);
}

/* Todos Labels */
label {
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.section-auth-signup {
  margin-bottom: 2rem;
}

.container-inputs-personal-signup,
.container-inputs-address-signup {
  display: grid;
  grid-template-columns: 150px 200px 400px;
  align-items: center;
  /* justify-content: center; */

  /* display: flex;
  align-items: center; */
}

.cabeçalho-sections {
  margin-bottom: 2rem;
}

.cabeçalho-sections > .type-cabeçalho {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.cabeçalho-sections > .type-cabeçalho > p {
  font-size: 1.3rem;
  margin-left: 0.3rem;
}

.container-confirm-signup {
  padding: 2rem;
  border: 1px solid var(--blue-light);
  border-radius: 10px;
  margin: 1rem;
  background-color: white;
}

.container-confirm-signup > button {
  margin-top: 1rem;
  padding: 0.7rem;
  border-radius: 10px;
  border: 1px solid var(--blue-strength);
  background-color: var(--green-light);
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
  transition: 0.3 ease;
}

.container-confirm-signup > button:hover {
  border: 1px solid var(--green-light);
  background-color: var(--green-strength);
  color: var(--text-color-white);
  transition: 0.3s ease;
}

/* hovers */

.sections:hover {
  background-color: #f6ffe3;
  transition: 0.3s ease;
}

.inputs-style:hover {
  background-color: #dfecc2;
  transition: 0.3s ease;
}
